@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: #273852;
}

html,
body,
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
body {
  font-size: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header div {
  color: var(--main-color);
  margin: 0.75rem;
  text-align: center;
  background-color: #fff;
  padding: 0.7rem;
  border: 2px solid #bc6959;
}

header div * {
  margin: 0;
}
header div p {
  font-size: 0.75rem;
}

footer {
  background-color: var(--main-color);
  width: 100%;
  color: #fff;
  padding: 0.75rem;
  text-align: center;
}

.category,
.subscribe {
  display: flex;
  font-weight: 900;
  letter-spacing: 0.2rem;
  flex-direction: column;
}

.newsHeader {
  margin: 1rem 0;
  display: flex;
  align-items: flex-end;
}
.newsHeader > * {
  flex: 1;
  width: max-content;
}
.subscribe {
  display: flex;
  flex-direction: column;
}
.sub {
  display: grid;
  grid-auto-flow: column;
}
.sub > *,
.category > * {
  min-width: 10px;
}
.allNews {
  color: var(--main-color);
  flex: 2;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.subButton {
  border: none;
  background-color: #000;
  font-size: 0.7rem;
  color: #fff;
}

.newsHeader select,
.newsHeader input {
  font-size: 0.7rem;
  padding: 0.3rem;
}

main {
  width: 60%;
  margin-left: 20%;
  flex-grow: 1;
  overflow-y: auto;
}

hr {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  opacity: 0.8;
}
hr[a] {
  background-color: #4e4e4e;
  opacity: 0.3;
  border: 0.1px solid #4e4e4e;
}

section {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.mainTitle {
  font-size: 1.2rem;
  color: var(--main-color);
  font-weight: 900;
}

.about {
  font-size: 0.7rem;
}

.aboutTitle {
  color: #666666;
}

.newsContent {
  width: 90%;
  text-align: justify;
}

.newsFeed {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  height: auto;
  justify-content: space-between;
}
.newsFeed button {
  background-color: #d55c49;
  border: none;
  padding: 0.5rem;
  width: max-content;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .newsContent {
    width: 100%;
  }
  section {
    flex-direction: column;
    text-align: center;
  }
  .newsFeed {
    align-items: center;
    margin: 0;
  }
  .newsHeader {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .category {
    margin: 0.7rem;
    order: 2;
  }
  .allNews {
    margin: 0.7rem;
    order: 1;
  }
  .subscribe {
    order: 3;
    margin: 0.7rem;
  }
  header div {
    flex: 1;
  }
  .news {
    text-align: justify;
  }
}

@media only screen and (min-width: 600px) and (max-width: 868px) {
  main {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .newsContent {
    width: 100%;
  }
}

*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(213, 92, 73, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(213, 92, 73, 0.9);
}